/*VAR*******************************************************/
:root{
    --lightgray:#F8F9FA;
    --headbar-h:74px;
    --sidebar-lg-w:150px;
    --sidebar-w:68px;

}


/*RESET*****************************************************/

/*HEADER****************************************************/
.ms_app-header{
    height: var(--headbar-h);
    position: sticky;
    top: 0;
    background-color: var(--lightgray);
}


/*MAIN*******************************************************/
.ms_app-main{
    height: calc(100% - var(--headbar-h));
}


/*SIDEBAR****************************************************/
.ms_app-side{
    background-color: #051E34;
    background-image: url(./img/sidebar-bg.png);
    width: var(--sidebar-w)
}
@media (min-width: 992px){
    .ms_app-side{
        width: var(--sidebar-lg-w)
    }
}


/*APP-BODY**************************************************/
.ms_app-body{
    width: calc(100% - var(--sidebar-w));
}
@media (min-width: 992px){
    .ms_app-body{
        width: calc(100% - var(--sidebar-lg-w));
    }
}


/*DEBUG*****************************************************/
.ms_app-header nav{
    background-color: aquamarine;
}
.ms_app-header nav >*{
    background-color: aqua;
}